<a href="https://colab.research.google.com/github/zacherymoy/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/SQL_Class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
How many total Characters are there? DONE 302
SELECT * from charactercreator_character

How many of each specific subclass? DONE 
Cleric SELECT * from charactercreator_cleric
Fighter SELECT * from charactercreator_fighter
Mage SELECT * from charactercreator_mage
Necromancer SELECT * from charactercreator_necromancer
Thief SELECT * from charactercreator_thief

How many total Items? DONE 898
SELECT item_id 
FROM charactercreator_character_inventory;

How many of the Items are weapons? How many are not? DONE
SELECT * from armory_item (174 for weapons)
898-174 = 724 NOT

In [0]:
How many Items does each character have? (Return first 20 rows) DONE
SELECT 
character_id,
COUNT(*) AS `num`
FROM charactercreator_character_inventory
GROUP BY character_id
LIMIT 20

In [0]:
How many Weapons does each character have? (Return first 20 rows) ?? Should it be 174 items for ID1? (DONE/NOT RIGHT) 
SELECT *
FROM charactercreator_character_inventory
INNER JOIN armory_item
ON charactercreator_character_inventory.item_id
GROUP BY id
LIMIT 20;
OR? 
SELECT COUNT(*)
FROM charactercreator_character_inventory
INNER JOIN armory_item
ON charactercreator_character_inventory.item_id
GROUP BY character_id
LIMIT 20;

In [0]:
On average, how many Items does each Character have? DONE
SELECT AVG(item_id)
FROM charactercreator_character_inventory
INNER JOIN armory_weapon
ON item_id = item_ptr_id
GROUP BY character_id;
SELECT 
AVG(item_id)
FROM charactercreator_character_inventory
GROUP BY character_id
LIMIT 20

In [0]:
On average, how many Weapons does each character have? DONE Not sure if right
SELECT *
FROM armory_weapon
INNER JOIN armory_item
ON armory_item.item_id